@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* 明るい文字色 */
  --background-rgb: 37, 37, 37; /* ダークモードの背景色 "#121212" */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
