@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* 文字色を黒に設定 */
  --background-start-rgb: 251, 240, 232; /* 背景の開始色を #FBF0E8 に設定 */
  --background-end-rgb: 251, 240, 232; /* 背景の終了色を #FBF0E8 に設定 */
}

body {
  color: rgb(var(--foreground-rgb)); /* 文字色を適用 */
  background: rgb(var(--background-start-rgb)); /* 単色の背景を適用 */
}
